footer{
    background-color: $dark-grey;
    @include flex-column;
    padding-bottom: 4%;
  }
  
  .footer__main{
    padding-left: 5%;
    color: $light-grey;
      h2{
        font-family: shrikhand;
      }
      a{
        display: flex;
        padding: 1%;
        text-decoration: none;
      }
      i{
        margin-right: 2%;
        flex-basis: 25px;
      }
      span{
        color: $light-grey;
      }
    
  }
  @media (min-width: 1024px){
  
  .footer__main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    white-space: nowrap;
    padding-left: 0%;
    h2{
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 6%;
    }
    a{
      margin-top: 6%;
    }
  }
}