footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
  }
  
  .footer__main{
    padding-left: 5%;
    color: #EAEAEA;
      h2{
        font-family: shrikhand;
      }
      a{
        display: flex;
        padding: 1%;
        text-decoration: none;
      }
      i{
        margin-right: 2%;
        flex-basis: 25px;
      }
      span{
        color: #EAEAEA;
      }
    
  }
  @media (min-width: 768px){
  footer{
  
  
  }
  .footer__main{
    padding: 47px 22px 47px 22px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    white-space: nowrap;
    h2{
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 0.5%;
    }
    a{
      padding-top: 2%;
    }
  }
}