
nav{
    @include flex-column;
    justify-content: center;
    align-items: center;
  
      .header__title--logo{
        height: 110px;
          img{
            height: 39px;
            padding-top: 15%;
          }
      }
  }    
  .header__menu{
        @include flex-row;
        padding: 3%;
          &-arrow{
            @include flex-items-center;
            align-items: flex-start;
            font-size: larger;
            color: $dark-grey;
            width: 18px;
            justify-content: flex-start;
            i{
              color: $dark-grey;
            }
          }
          &-logo{
            @include flex-justify-items-center;
            flex:1 1 auto;
              img{
                width: auto;
                max-height: 45px;
                
              }
            
  
          }
  
  }
  
  
  .image__menu{
    width: 100%;
    display: flex;
    max-height: 250px;
    img{
    object-fit: cover;
    width: 100%;
    }
  }
  
  form{
    @include flex-justify-items-center;
    background-color: $light-grey;
    width: 100%;
    height: 45px;
    gap: 3px;
    box-shadow:0 2px 14px rgba(0, 0, 0, 0.45) ;
    margin-bottom: 6px;
      .local-icon{
        padding-left: 5%;
      }
  }
  @media (min-width: 768px){
    form{
      box-shadow: none;
      margin-bottom: 0px;
    }
  }
  span.local-icon i.fa-solid.fa-location-dot{
    color: #000000;
  }
  
  .form__searchbar{
    border: none;
    
    background-color:$light-grey ;
    font-size: 16px;
    text-align: center;
    width: 44%;
    font-weight: 500;
    color: $dark-grey;
  }
  input.form__searchbar{
    font-family: roboto;
    width: 42%;
  }
  input::placeholder {
    color: #000000;
    
  }
  @media (min-width: 768px){
    input.form__searchbar{
    width: 20%;
    }
  }

  