.title{
  position: relative;
  gap: 20%;
       
          i{
            position: absolute;
            bottom: 10px;
            left: 375px;
            font-size: 30px;
            transition: flex-basis 0.5s ;
          }
          .fa-solid{
                opacity: 0;
                background: linear-gradient(#9356DC, #FF79DA);
                background-clip: text;
                color: transparent;
              } 
          i:hover{
            opacity: 1;
            
          }
          
          
      }
.menu__entrees:nth-child(1n+0){
  animation: slide-in-left 1s;
  animation-delay: 0.3s;
}
.menu__plats:nth-child(1n+0){
  animation: slide-in-left 1s;
  animation-delay: 0.5s;
}
.menu__desserts:nth-child(1n+0){
  animation: slide-in-left 1s;
  animation-delay: 0.7s;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu{
    margin: 5%;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
      h3{
        font-weight: lighter;
        font-size: 16px;
        line-height: 19px;
        border-bottom: 3px solid #99E2D0;
        width: 40px;
        padding-bottom: 6px;
          &-cards{
            border-radius: 15px;
          }
      }
      &__entrees{
        animation: showmenu 1s 1s both;
        text-overflow: ellipsis;
        width: 100%;
      }
      &__entrees-cards{
        display: flex;
        padding: 3%;
        overflow: hidden;
        text-overflow: ellipsis;
        
        
        .description{
          display: flex;
          flex-direction: row;
          align-items: end;
          width: 100%;
          text-overflow: ellipsis;
          .text{
            width: 100%;
            text-overflow: ellipsis;
            p{
              margin: 2%;
              margin-left: 0%;
            }
          }
        }
        
          h4{
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 0%;
            font-weight: 700;
            font-size: 18px;
            line-height: 19px;
  
          }
          .prix{
            font-weight: 600;
            flex-basis: 20%;
            align-self: end;
            margin-bottom: 6px;
            margin-right: 2%;
          }
          .check {
            margin-top: -20%;
            margin-bottom: -20%;
            padding-left: 10%;
            padding-right: 10%;
            background-color: #99E2D0;
            margin-right: -9rem;
            border-radius: 0px 15px 15px 0px;
            display: flex;
            align-items: center;
            transition: 1s;
            cursor: pointer;
          }
          .fa-circle-check {
            font-size: 25px;
            border-radius: 50%;
            color: white ;
          }
          }
          &__entrees-cards:hover .check {
            margin-right: -5%;
            opacity: 1;
          }
          &__entrees-cards:hover .fa-circle-check{
            animation: roll 1s ease-in-out;
          }
          
          @keyframes roll {
            0% {
              transform: rotate(360deg);
            }
          
            100% {
              transform: rotate(0deg);
            }
          
          }
      
          
    
      &__plats-cards{
        display: flex;
        padding: 3%;
        overflow: hidden;
        .description{
          display: flex;
          flex-direction: row;
          align-items: end;
          width: 100%;
          text-overflow: ellipsis;
          .text{
            width: 100%;
            text-overflow: ellipsis;
            p{
              margin: 2%;
              margin-left: 0%;
            }
          }
        }
          h4{
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 0%;
            font-weight: 700;
            font-size: 18px;
            line-height: 19px;
          }
          .prix{
            font-weight: 600;
            flex-basis: 20%;
            align-self: end;
            margin-bottom: 6px;
            margin-right: 2%;
          }
          .check {
              margin-top: -20%;
              margin-bottom: -20%;
              padding-left: 10%;
              padding-right: 10%;
              background-color: #99E2D0;
              margin-right: -9rem;
              border-radius: 0px 15px 15px 0px;
              display: flex;
              align-items: center;
              transition: 1s;
              cursor: pointer;
          }
          .fa-circle-check {
              font-size: 25px;
              border-radius: 50%;
              color: white ;
          }
          }
          &__plats-cards:hover .check {
            margin-right: -5%;
            opacity: 1;  
          }
          &__plats-cards:hover .fa-circle-check{
            animation: roll 1s ease-in-out;
          }
          
          @keyframes roll {
            0% {
              transform: rotate(360deg);
            }
          
            100% {
              transform: rotate(0deg);
            }
          
          }
      
      &__desserts-cards{
        display: flex;
        padding: 3%;
        overflow: hidden;
        .description{
          display: flex;
          flex-direction: row;
          align-items: end;
          width: 100%;
          text-overflow: ellipsis;
          .text{
            width: 100%;
            text-overflow: ellipsis;
            p{
              margin: 2%;
              margin-left: 0%;
            }
          }
        }
        h4{
          margin-top: 2%;
          margin-bottom: 2%;
          margin-left: 0%;
          font-weight: 700;
          font-size: 18px;
          line-height: 19px; 
        }
        .prix{
          font-weight: 600;
          flex-basis: 20%;
          align-self: end;
          margin-bottom: 6px;
          margin-right: 2%;
        }
        .check {
          margin-top: -20%;
          margin-bottom: -20%;
          padding-left: 10%;
          padding-right: 10%;
          background-color: #99E2D0;
          margin-right: -9rem;
          border-radius: 0px 15px 15px 0px;
          display: flex;
          align-items: center;
          transition: 1s;
          cursor: pointer;
        }
        .fa-circle-check {
          font-size: 25px;
          border-radius: 50%;
          color: white ;
        }
        }
        &__desserts-cards:hover .check {
          margin-right: -5%;
          opacity: 1;  
        }
        &__desserts-cards:hover .fa-circle-check{
          animation: roll 1s ease-in-out;
        }
        
        @keyframes roll {
          0% {
            transform: rotate(360deg);
          }
        
          100% {
            transform: rotate(0deg);
          }
        
        }
}