.title{
  position: relative;
  display: flex;
  gap: 5%;
  border-radius: 15px;
       
          i{
            position: absolute;
            font-size: 24px;
            transition: flex-basis 0.5s ;
          }
          .fa-solid{
                opacity: 0;
                background: linear-gradient(#9356DC, #FF79DA);
                background-clip: text;
                color: transparent;
                transition: opacity 1s;
              } 
          i:hover{
            opacity: 1;
            
          }
          
          
      }

.title_heart{
  position: relative;
  width: 12px;
  height: 25px;
  font-size: 24px;
  }

.menu__entrees{
  animation: slide-in-left 1s;
  animation-delay: 0.3s;
}
.menu__plats{
  animation: slide-in-left 1s;
  animation-delay: 0.5s;
}
.menu__desserts{
  animation: slide-in-left 1s;
  animation-delay: 0.7s;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu{
    margin: 5%;
    @include flex-column;
    text-overflow: ellipsis;
      h3{
        font-weight: lighter;
        font-size: 16px;
        line-height: 19px;
        border-bottom: 3px solid $tertiary-color;
        width: 40px;
        padding-bottom: 6px;
          &-cards{
            border-radius: 15px;
          }
      }
      &__entrees{
        animation: showmenu 1s 1s both;
        
      }
      &__entrees-cards{
        display: flex;
        overflow: hidden;
        padding-left: 2%;
        .description{
          overflow: hidden;
          flex: 0 0 80%;
          transition: flex-basis 0.9s ease-in;
          .text{
            padding: 3%;
            p{
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-bottom: 0%;
              margin-top: 0%;
            }
          }
        }
          h4{
            margin-top: 0%;
            margin-bottom: 2%;
            margin-left: 0%;
            font-weight: 700;
            font-size: 18px;
            line-height: 19px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .prix{
            display: flex;
            justify-content: end;
            font-weight: 600;
            flex: 0 0 18%;
            align-self: end;
            margin-right: 2%;
            padding-bottom: 3%;
          }
          .check {
            padding-left: 8%;
            background-color: $tertiary-color;
            border-radius: 0px 15px 15px 0px;
            display: flex;
            align-items: center;
            transition: 1s;
            cursor: pointer;
            flex: 0 0 20%;
          }
          .fa-circle-check {
            font-size: 25px;
            border-radius: 50%;
            color: $text-white ;
          }
        }
          &__entrees-cards:hover .check {
            margin-right: -5%;
            opacity: 1;
          }
          &__entrees-cards:hover .fa-circle-check{
            animation: roll 1s ease-in-out;
          }
          article:hover .description{
            flex-basis: 60%;
          }
          
          @keyframes roll {
            0% {
              transform: rotate(-360deg);
            }
          
            100% {
              transform: rotate(0deg);
            }
          
          }
          
      
          
    
      &__plats-cards{
        display: flex;
        overflow: hidden;
        padding-left: 2%;
        .description{
          overflow: hidden;
          flex: 0 0 80%;
          transition: flex-basis 0.9s ease-in;
          .text{
            padding: 3%;
            p{
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-bottom: 0%;
              margin-top: 0%;
            }
          }
        }
          h4{
            margin-top: 0%;
            margin-bottom: 2%;
            margin-left: 0%;
            font-weight: 700;
            font-size: 18px;
            line-height: 19px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .prix{
            display: flex;
            justify-content: end;
            font-weight: 600;
            flex: 0 0 18%;
            align-self: end;
            margin-right: 2%;
            padding-bottom: 3%;
          }
          .check {
            padding-left: 8%;
            background-color: $tertiary-color;
            border-radius: 0px 15px 15px 0px;
            display: flex;
            align-items: center;
            transition: 1s;
            cursor: pointer;
            flex: 0 0 20%;
          }
          .fa-circle-check {
              font-size: 25px;
              border-radius: 50%;
              color: $text-white ;
          }
          }
          &__plats-cards:hover .check {
            margin-right: -5%;
            opacity: 1;  
          }
          &__plats-cards:hover .fa-circle-check{
            animation: roll 1s ease-in-out;
          }
          article:hover .description{
            flex-basis: 60%;
          }
          
          @keyframes roll {
            0% {
              transform: rotate(360deg);
            }
          
            100% {
              transform: rotate(0deg);
            }
          
          }
      
      &__desserts-cards{
        display: flex;
        overflow: hidden;
        padding-left: 2%;
        .description{
          overflow: hidden;
          flex: 0 0 80%;
          transition: flex-basis 0.9s ease-in;
          .text{
            padding: 3%;
            p{
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              margin-bottom: 0%;
              margin-top: 0%;
            }
          }
        }
        h4{
          margin-top: 0%;
          margin-bottom: 2%;
          margin-left: 0%;
          font-weight: 700;
          font-size: 18px;
          line-height: 19px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .prix{
          display: flex;
          justify-content: end;
          font-weight: 600;
          flex: 0 0 18%;
          align-self: end;
          margin-right: 2%;
          padding-bottom: 3%;
        }
        .check {
          padding-left: 8%;
          background-color: $tertiary-color;
          border-radius: 0px 15px 15px 0px;
          display: flex;
          align-items: center;
          transition: 1s;
          cursor: pointer;
          flex: 0 0 20%;
        }
        .fa-circle-check {
          font-size: 25px;
          border-radius: 50%;
          color: $text-white ;
        }
        }
        &__desserts-cards:hover .check {
          margin-right: -5%;
          opacity: 1;  
        }
        &__desserts-cards:hover .fa-circle-check{
          animation: roll 1s ease-in-out;
        }
        article:hover .description{
          flex-basis: 60%;
        }
        
        @keyframes roll {
          0% {
            transform: rotate(360deg);
          }
        
          100% {
            transform: rotate(0deg);
          }
        
        }
}