nav{
    @include flex-column;
    justify-content: center;
    align-items: center;
  
      h1{
        justify-content: space-between;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
        margin-bottom: 0%;
        margin-top: 10%;
        font-weight: 700;      
      }
      p{
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 3%;
        line-height: 21px;
        font-weight: 300;
        font-size: 18px;
      }
      
  }
 .title{
    background-color: $light-grey2;
  }
  @media (min-width: 1024px){
    nav{
    padding-bottom: 0%;
    
      h1{
        margin-top: 4%;
      }
    }
    div.fonctionnement__assemblage{
      display: flex;
      flex-direction: row;
      gap: 3%;
    }
    section.fonctionnement h2{
      padding-left: 5%;
      padding-top: 3%;
    }
    button.fonctionnement__assemblage-choix{
      width: 27%;
    }
    section.restaurants{
      padding-top: 0%;
      margin-top: 4%;
    }
    div.restaurants__menus{
      display: flex;
        flex-wrap: wrap;
        gap: 8%;
    }
    article.restaurants__menus-cards{
      flex: 0 0 45%;
    }

  }

  
  .title button{
    border: none;
    border-radius: 30px;
    background: linear-gradient(#9356DC, #FF79DA);
    height: 50px;
    width: 220px;
    color: $text-white;
    margin: 4%;
    font-weight: 500;
    font-size: 16px;
    transition-property: transform;
    transition-duration: 1000ms;
    &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
      border-radius: 25px;
      transform: scale(1.1) ;
      cursor: pointer;
    }
  }