body {
  width: 100%;
  margin: 0%;
  font-family: roboto;
}

.title_heart {
  position: relative;
  width: 12px;
  height: 25px;
  font-size: 24px;
}

.title {
  position: relative;
  gap: 20%;
}
.title i {
  position: absolute;
  bottom: 6px;
  left: 255px;
  font-size: 24px;
  transition: flex-basis 0.5s;
}
.title .fa-solid {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  transition: opacity 1s;
}
.title i:hover {
  opacity: 1;
}

.menu__entrees:nth-child(1n+0) {
  animation: slide-in-left 1s;
  animation-delay: 0.3s;
}

.menu__plats:nth-child(1n+0) {
  animation: slide-in-left 1s;
  animation-delay: 0.5s;
}

.menu__desserts:nth-child(1n+0) {
  animation: slide-in-left 1s;
  animation-delay: 0.7s;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu {
  margin: 5%;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
}
.menu h3 {
  font-weight: lighter;
  font-size: 16px;
  line-height: 19px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 6px;
}
.menu h3-cards {
  border-radius: 15px;
}
.menu__entrees {
  animation: showmenu 1s 1s both;
}
.menu__entrees-cards {
  display: flex;
  min-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__entrees-cards .description {
  display: flex;
  flex-direction: row;
  align-items: end;
  overflow: hidden;
  flex: 0 0 80%;
  transition: flex-basis 0.9s ease-in;
}
.menu__entrees-cards .description .text {
  padding: 3%;
  min-width: 318px;
  overflow: hidden;
}
.menu__entrees-cards .description .text p {
  margin: 2%;
  margin-left: 0%;
  min-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__entrees-cards h4 {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 0%;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 350px;
}
.menu__entrees-cards .prix {
  display: flex;
  justify-content: end;
  font-weight: 600;
  flex: 0 0 18%;
  align-self: end;
  margin-bottom: 6px;
  margin-right: 2%;
  padding-bottom: 2%;
}
.menu__entrees-cards .check {
  padding-left: 8%;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  transition: 1s;
  cursor: pointer;
  flex: 0 0 20%;
}
.menu__entrees-cards .fa-circle-check {
  font-size: 25px;
  border-radius: 50%;
  color: white;
}
.menu__entrees-cards:hover .check {
  margin-right: -5%;
  opacity: 1;
}
.menu__entrees-cards:hover .fa-circle-check {
  animation: roll 1s ease-in-out;
}
.menu article:hover .description {
  flex-basis: 70%;
}
@keyframes roll {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu__plats-cards {
  display: flex;
  min-width: 350px;
  overflow: hidden;
}
.menu__plats-cards .description {
  display: flex;
  flex-direction: row;
  align-items: end;
  flex: 0 0 80%;
  transition: flex-basis 0.9s ease-in;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats-cards .description .text {
  padding: 3%;
  min-width: 318px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__plats-cards .description .text p {
  margin: 2%;
  margin-left: 0%;
  min-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__plats-cards h4 {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 0%;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
}
.menu__plats-cards .prix {
  display: flex;
  justify-content: end;
  font-weight: 600;
  flex: 0 0 18%;
  align-self: end;
  margin-bottom: 6px;
  margin-right: 2%;
  padding-bottom: 2%;
}
.menu__plats-cards .check {
  padding-left: 8%;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  transition: 1s;
  cursor: pointer;
  flex: 0 0 20%;
}
.menu__plats-cards .fa-circle-check {
  font-size: 25px;
  border-radius: 50%;
  color: white;
}
.menu__plats-cards:hover .check {
  margin-right: -5%;
  opacity: 1;
}
.menu__plats-cards:hover .fa-circle-check {
  animation: roll 1s ease-in-out;
}
.menu article:hover .description {
  flex-basis: 60%;
}
@keyframes roll {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu__desserts-cards {
  display: flex;
  min-width: 350px;
  overflow: hidden;
}
.menu__desserts-cards .description {
  display: flex;
  flex-direction: row;
  align-items: end;
  overflow: hidden;
  flex: 0 0 80%;
  transition: flex-basis 0.9s ease-in;
}
.menu__desserts-cards .description .text {
  padding: 3%;
  min-width: 318px;
  overflow: hidden;
}
.menu__desserts-cards .description .text p {
  margin: 2%;
  margin-left: 0%;
  min-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__desserts-cards h4 {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 0%;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 350px;
}
.menu__desserts-cards .prix {
  display: flex;
  justify-content: end;
  font-weight: 600;
  flex: 0 0 18%;
  align-self: end;
  margin-bottom: 6px;
  margin-right: 2%;
  padding-bottom: 2%;
}
.menu__desserts-cards .check {
  padding-left: 8%;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  transition: 1s;
  cursor: pointer;
  flex: 0 0 20%;
}
.menu__desserts-cards .fa-circle-check {
  font-size: 25px;
  border-radius: 50%;
  color: white;
}
.menu__desserts-cards:hover .check {
  margin-right: -5%;
  opacity: 1;
}
.menu__desserts-cards:hover .fa-circle-check {
  animation: roll 1s ease-in-out;
}
@keyframes roll {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loader__container {
  position: fixed;
  z-index: 1;
  inset: 0;
  background-color: #FFFFFF;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
  animation: disappear 500ms 3s forwards;
  transform-origin: center;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}

.d1 {
  background-color: #9356DC;
}

.d2 {
  animation-delay: 0.05s;
  background-color: #FF79DA;
}

.d3 {
  animation-delay: 0.1s;
  background-color: #99E2D0;
}

@keyframes loader {
  100% {
    transform: translateY(-30px);
    animation-duration: 3s;
  }
}
@keyframes disappear {
  100% {
    transform: scale(0);
  }
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .header__title--logo {
  height: 110px;
}
nav .header__title--logo img {
  height: 39px;
  padding-top: 6%;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}
.header__menu-arrow {
  display: flex;
  align-items: flex-start;
  align-items: center;
  font-size: larger;
  color: grey;
  width: 18px;
}
.header__menu-arrow i {
  color: #353535;
}
.header__menu-logo {
  align-items: center;
  justify-content: center;
}
.header__menu-logo img {
  width: 52%;
}

.image__menu {
  width: 100%;
  display: flex;
  max-height: 50%;
}
.image__menu img {
  object-fit: cover;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
  height: 45px;
  gap: 3px;
}
form .local-icon {
  padding-left: 5%;
}

.form__searchbar {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  text-align: center;
  width: 44%;
  font-weight: 500;
  color: #353535;
}

input.form__searchbar {
  font-family: roboto;
  width: 42%;
}

@media (min-width: 768px) {
  input.form__searchbar {
    width: 20%;
  }
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 10%;
}
nav h1 {
  justify-content: space-between;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 0%;
  margin-top: 10%;
  font-weight: 700;
}
nav p {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  line-height: 21px;
  font-weight: 300;
  font-size: 18px;
}

@media (min-width: 768px) {
  nav {
    padding-bottom: 0%;
  }
  nav h1 {
    margin-top: 4%;
  }
  div.fonctionnement__assemblage {
    display: flex;
    flex-direction: row;
    gap: 3%;
  }
  section.fonctionnement h2 {
    padding-left: 5%;
    padding-top: 3%;
  }
  button.fonctionnement__assemblage-choix {
    width: 27%;
  }
  section.restaurants {
    padding-top: 0%;
    margin-top: 4%;
  }
  div.restaurants__menus {
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
  }
  article.restaurants__menus-cards {
    flex: 0 0 45%;
  }
}
.title button {
  border: none;
  border-radius: 30px;
  background: linear-gradient(#9356DC, #FF79DA);
  height: 50px;
  width: 220px;
  color: #ffffff;
  margin: 4%;
  font-weight: 500;
  font-size: 16px;
  transition-property: transform;
  transition-duration: 1000ms;
}
.title button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transform: scale(1.01);
  cursor: pointer;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement h2 {
  padding-left: 8%;
  font-weight: 700;
  padding-top: 6%;
}
.fonctionnement__assemblage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonctionnement__assemblage i {
  padding: 6%;
}
.fonctionnement__assemblage .fa-color {
  color: #9356dc;
  padding: 6%;
}
.fonctionnement__assemblage .nombre {
  color: #f6f6f6;
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  position: relative;
  top: -1px;
  left: -22px;
}
.fonctionnement__assemblage-choix {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  border-radius: 50px;
  width: 80%;
  height: 80px;
  align-items: center;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.content {
  position: relative;
  width: 100%;
  margin-top: -30px;
  border-radius: 25px 25px;
  background: #F7F7F7;
}
.content .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content .title h1 {
  font-family: shrikhand;
  font-size: 1.5em;
  margin-bottom: 0%;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}

@media (min-width: 768px) {
  .content {
    width: 67%;
    left: 16%;
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-top: 15%;
  padding-top: 10%;
}
.restaurants h1 {
  margin-left: 4%;
  margin-bottom: 1%;
}
.restaurants img {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 210px;
}
.restaurants__menus {
  margin: 5%;
}
.restaurants__menus-cards {
  position: relative;
}
.restaurants__menus-cards .box-new {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.restaurants__menus-cards .box-new .new {
  position: absolute;
  top: 5%;
  right: 5%;
}
.restaurants__menus-cards .box-new .new p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  padding: 5px 15px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 5%;
  margin-left: 10px;
}
.restaurants__menus-cards i {
  justify-content: flex-end;
  align-items: center;
}

article {
  margin-bottom: 5%;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.description_card {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  justify-content: space-between;
  align-items: center;
}
.description_card h2 {
  margin-bottom: 1%;
}
.description_card p {
  margin-top: 0%;
  margin-bottom: 11%;
}
.description_card-logo {
  position: relative;
  width: 12px;
  height: 25px;
  right: 15%;
}
.description_card-logo i {
  position: absolute;
  font-size: 30px;
  transition: flex-basis 0.5s;
}
.description_card-logo .fa-solid {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  transition: opacity 1s;
}
.description_card-logo i:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
}

.footer__main {
  padding-left: 5%;
  color: #EAEAEA;
}
.footer__main h2 {
  font-family: shrikhand;
}
.footer__main a {
  display: flex;
  padding: 1%;
  text-decoration: none;
}
.footer__main i {
  margin-right: 2%;
  flex-basis: 25px;
}
.footer__main span {
  color: #EAEAEA;
}

@media (min-width: 768px) {
  .footer__main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    white-space: nowrap;
    padding-left: 0%;
  }
  .footer__main h2 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 6%;
  }
  .footer__main a {
    margin-top: 6%;
  }
}/*# sourceMappingURL=main.css.map */