body {
  width: 100%;
  margin: 0%;
  font-family: roboto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header__title--logo {
  width: 45%;
  height: 150%;
}
header .header__title--logo img {
  padding-top: 15%;
  padding-bottom: 4%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
  height: 45px;
  gap: 2px;
}
form .local-icon {
  padding-left: 5%;
}

.form__searchbar {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  text-align: center;
  width: 35%;
  font-weight: 500;
  color: #353535;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 10%;
}
nav h1 {
  justify-content: space-between;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 0%;
  margin-top: 10%;
  font-weight: 700;
}
nav p {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
  line-height: 21px;
  font-weight: 300;
  font-size: 18px;
}

.title button {
  border: none;
  border-radius: 30px;
  background: linear-gradient(#ff90e7, #a16eff);
  height: 50px;
  width: 220px;
  color: #ffffff;
  margin: 4%;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement__title h2 {
  padding-left: 54%;
  font-weight: 700;
}
.fonctionnement__assemblage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonctionnement__assemblage i {
  padding: 10%;
}
.fonctionnement__assemblage .fa-color {
  color: #9356dc;
  padding: 10%;
}
.fonctionnement__assemblage .nombre {
  color: #f6f6f6;
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  position: relative;
  top: -1px;
  left: -22px;
}
.fonctionnement__assemblage-choix {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  border-radius: 50px;
  width: 80%;
  height: 80px;
  align-items: center;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-top: 15%;
  padding-top: 10%;
}
.restaurants h1 {
  margin-left: 4%;
  margin-bottom: 1%;
}
.restaurants img {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 210px;
}
.restaurants__menus {
  margin: 5%;
}
.restaurants__menus-cards {
  position: relative;
}
.restaurants__menus-cards .box-new {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.restaurants__menus-cards .box-new .new {
  position: absolute;
  top: 5%;
  right: 5%;
}
.restaurants__menus-cards .box-new .new p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  padding: 5px 15px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 5%;
  margin-left: 10px;
}
.restaurants__menus-cards i {
  justify-content: flex-end;
  align-items: center;
}

article {
  margin-bottom: 5%;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.description_card {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  justify-content: space-between;
  align-items: center;
}
.description_card h2 {
  margin-bottom: 1%;
}
.description_card p {
  margin-top: 0%;
  margin-bottom: 11%;
}
.description_card-logo {
  margin-right: 10%;
}
.description_card-logo i {
  width: 50%;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}

.footer__main {
  padding-left: 5%;
  color: #EAEAEA;
}
.footer__main h2 {
  font-family: shrikhand;
}
.footer__main a {
  display: flex;
  padding: 1%;
  text-decoration: none;
}
.footer__main i {
  margin-right: 2%;
}
.footer__main span {
  color: #EAEAEA;
}/*# sourceMappingURL=styles.css.map */