
    $blanc: #f3f3f3;
    $vert1: #99E2D0;
    $vert2: #008766;
    $navcolor: #EAEAEA;
    $btncolor: linear-gradient(#9356DC, #FF79DA);
    $gris1: #F6F6F6;
    $noir: #353535;
    $violet: #9356DC;

    $font-family: "Roboto", sans-serif;




